<p>
	<b>Автор:</b>
	<%= comment.commenter %>
</p>
<p>
	<b>Комментарий:</b>
	<%= comment.body %>
</p>
<p>
	<%= link_to 'Удалить', [comment.post, comment],
								:confirm => 'Удалить?',
								:method => :delete %>
</p>
