<%= stylesheet_link_tag "lending" %>
<%= stylesheet_link_tag "application" %>


<section class="menu">
  <div class="menu_punct logo_fon"></div>
  <h3 class="menu_punct m_p1">О нас</h3>
  <h3 class="menu_punct">Преимущества</h3>
  <h3 class="menu_punct">Контакты</h3>
</section>
<section class="main_show">
  <h1 class="main_text">Сделайте ваше плавание удобным</h1>
  <h2 class="main_text">Сократите время на поиски доступных портов</h2>
  <button class="main_text" type="button" name="button"><%= link_to "Попробовать", posts_path %></button>
</section>
<section class="lir_it">
      <h1>LIR — это...</h1>
      <p class="text_cen tx_cen1">сайт с картой для мореплавателей, где собраны все необходимые сведения о&nbsp;портах</p>
      <p class="text_cen tx_cen2">форум для обмена полезной информацией и новостями на море</p>
      <p class="text_cen tx_cen3">крупное сообщество людей с едиными интересами и ценностями</p>
      <p class="text_cen tx_cen4">вся необходимая информация для мореплавания в одном месте  </p>
</section>
<section class="monsters">
  <div class="">
  <h1>65 стран</h1>
  <h3>Используется в 65 странах по всей Европе.</h3>
  </div>
  <div class="monster2">
  <h1>5 тыс.</h1>
  <h3>У сервиса более 5 тысяч зарегистрированных пользователей.</h3>
  </div>
  <div class="monster3">
  <h1>100 тыс.</h1>
  <h3>Ежемесячно сайт посещают около 100 тысяч человек.</h3>
  </div>
</section>
<section>
  <h4>Присоединяйся и ты!</h4>
  <h4 class="polezen">Когда будет полезен?</h4>
  <h1 class="number">1. </h1>
  <h1 class="number">2. </h1>
  <p class="number">Когда Вы, будучи в плавании, обнаружили препятсвтвие или опасную зону на своём пути и захотели рассказать об этом тем, кто сейчас в море.</p>
  <p class="number">Когда находитесь на корабле на неизвестной местности и желаете узнать о близлежащих портах.</p>
  <h1 class="number">  </h1>
  <h1 class="number">3.  </h1>
  <h1 class="number">  </h1>
  <p class="number">Когда причалили в новый порт, а он оказался очень загруженным и там не было свободного доступа к электричеству, вы захотели поделиться своим впечатлением с другими.</p>
</section>
<section class="table">
  <h2>Отзывы</h2>
  <table>
    <tr>
      <td>Константин, 48 лет, Капитан</td>
    </tr>
    <tr>
      <td>Я всегда пользуюсь LIR перед выходом в море и прямо во время плавания.
        Заранее ищу места остановок, выбираю их по отзывам и оценкам других мореплавателей, что очень помогает мне с лёгкостью спланировать путешествие.</td>
    </tr>
  </table>
  <table>
    <tr>
      <td>Константин, 48 лет, Капитан</td>
    </tr>
    <tr>
      <td>Я всегда пользуюсь LIR перед выходом в море и прямо во время плавания.
        Заранее ищу места остановок, выбираю их по отзывам и оценкам других мореплавателей, что очень помогает мне с лёгкостью спланировать путешествие.</td>
    </tr>
  </table>
  <table>
    <tr>
      <td>Константин, 48 лет, Капитан</td>
    </tr>
    <tr>
      <td>Я всегда пользуюсь LIR перед выходом в море и прямо во время плавания.
        Заранее ищу места остановок, выбираю их по отзывам и оценкам других мореплавателей, что очень помогает мне с лёгкостью спланировать путешествие.</td>
    </tr>
  </table>
</section>
<section>
  <h1>Спланируй своё морское путешествие</h1>
  <h1>прямо сейчас</h1>
  <h1>вместе с LIR</h1>
</section>
