<%= stylesheet_link_tag "promo" %>

  <div class="title">
    <div class="img logo_promo"></div>
    <h2 class="text_title">Медиа-сервис для мореплавателей</h2>


    <div class="img location"></div>
    <div class="img row1"></div>
    <div class="img row2"></div>
    <div class="img phone1"></div>
    <div class="img phone2"></div>
    <div class="img compas"></div>
    <div class="img volna1"></div>
    <h3 class="text1">Помогает найти порт и всю необходимую информацию о нём</h3>
    <h3 class="text2">Держит в курсе ситуаци на море</h3>
    <h3 class="text3">Удобная платформа для общения между кораблями</h3>
  </div>
<div class="function">
  <div class="cards name">
    <h1>функционал</h1>
  </div>
</div>
<%= link_to "About", about_path %>


<h2>Узнать раньше всех о запуске проекта:</h2>
<%= render "subscribers/form" %>
