<%= stylesheet_link_tag "promo" %>

  <div class="title">
    <div class="img logo_promo"></div>
    <h2 class="text_title">Медиа-сервис для мореплавателей</h2>


    <div class="img location"></div>
    <div class="img row1"></div>
    <div class="img row2"></div>
    <div class="img phone1"></div>
    <div class="img phone2"></div>
    <div class="img compas"></div>
    <div class="img volna1"></div>
    <h3 class="text1">Помогает найти порт и всю необходимую информацию о нём</h3>
    <h3 class="text2">Держит в курсе ситуаци на море</h3>
    <h3 class="text3">Удобная платформа для общения между кораблями</h3>
  </div>
<div class="function">
  <div class="cards">
    <h1 class="text_function">ФУНКЦИОНАЛ:</h1>
  </div>
  <div class="cards">
    <div class="card_icon"></div>
    <div class="c_i_text"><h3>Форум</h3><p>пользователи делятся полезной информацией о ситуации на море</p></div>
  </div>
  <div class="cards">
    <div class="card_icon"></div>
    <div class="c_i_text"><h3>Карта</h3><p>порты и отметки мест чрезвычайных происшествий</p></div>
  </div>
  <div class="cards">
    <div class="card_icon"></div>
    <div class="c_i_text"><h3>Аккаунт</h3><p>основная информация о мореплавателе</p></div>
  </div>
  <div class="cards">
    <div class="card_icon"></div>
    <div class="c_i_text"><h3>Поиск</h3><p>Поиск портов и новостей в форуме по ключевым словам</p></div>
  </div>
  <div class="img volna2"></div>
</div>

<div class="footer">
<h2>Узнать раньше всех о запуске проекта:</h2>
<div class="img row3"></div>
<%= render "subscribers/form" %>
</div>

<div class="details">
  <%= link_to "Подробнее о проекте", about_path %>
</div>
