<%= stylesheet_link_tag "promo" %>
<div class="conteiner">
  <div class="title">
    <div class="img logo_promo"></div>
    <h2>Медиа-сервис для мореплавателей</h2>
    <h3>Помогает найти порт и всю необходимую информацию о нём</h3>
    <div class="img phone1"></div>
    <div class="img phone2"></div>
    <div class="img location"></div>
    <div class="img row1"></div>
    <div class="img row2"></div>
    <div class="img compas"></div>
    <div class="img volna1"></div>
    <h3>Держит в курсе ситуаци на море</h3>
    <h3>Удобная платформа для общения между кораблями</h3>
  </div>

<%= link_to "About", about_path %>


<h2>Узнать раньше всех о запуске проекта:</h2>
<%= render "subscribers/form" %>

</div>
