<%= stylesheet_link_tag "about" %>

<body>

  <img id="logo" src="images/Group28.svg" alt="">
<p id="top" >Медиа-сервис для мореплавателей, который позволяет владельцам яхт и парусных судов узнавать необходимые сведения о портах и погодных условиях, оставлять для других сообщения о чрезвычайных происшествиях, делиться полезной информацией на форуме.</p>

<h1>Целевая аудитория</h1>

<section class="yellow">
<div id="square1"></div>
<p>28,6% — капитаны/владельцы</p>
</section>

<section class="white"> <div id="square2"></div>
<p>71,4% — матросы</p>
</section>

<section class="three">
<section class="forum">
<h1>Форум</h1>
<p>пользователи делятся полезной информацией о ситуации на море</p>
</section>

<section class="karta">
<h1>Карта</h1>
<p>порты и отметки мест чрезвычайных происшествий</p>
</section>

<section class="account">
<h1>Аккаунт</h1>
<p>основная информация о мореплавателе</p>
</section>
</section>

<section class="mockups">
<img src="images/iPhone 12 Pro Mockup.png" alt="">
<img src="Apple iMac 27_Mockup.png" alt="">
</section>


<section class="bullits">
<h1>Проблемы, которые решает медиа-сервис</h1>
  <img id="one" src="Group 33.png" alt="">
<p>Общение между кораблями происходит только по рации. Только в реальном времени и на близком растоянии.</p>
<p>Корабли не делятся друг с другом о случившихся ЧП по причине отсутствия удобной платформы для этого.</p>
<p>У большой части ЦА выходы в море происходят без подготовки, а значит потом не хватает актуальной информации о ситуации на море.</p>
<p>Заходы в порт бывают проблематичными, по причине отсутсвия актуальных сведений.</p>
</section>

<h1>User stories</h1>


<section class="us">
<div class="captain"> 
<h1>Капитан</h1>
<p>Мне нужно быстро найти ближайшее доступное место для стоянки</p>
</div>
<div class="sailor"> 
<h1>Матрос</h1>
<p>Мне интересно узнать о ситуации за бортом и пообщаться с другими мореплавателями</p>
</div>
</section>

<section class="footer">
<p>VAARWATER<br>
Сервис для мореплавателей</p>
<p>Злыднева Мария<br>
Василенко Надежда</p>
<div class="hse"></div><div class="adc"></div>
<section>

<%= link_to "blog", posts_path %>

</body>