/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .

 *= require_self
 */
 /* @import 'reset.css'; */
 @font-face {
   font-family: 'Helios';
   src: url('Helios.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
 }
 @font-face {
   font-family: 'Helvetica';
   src: url('helvetica.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
 }
 @font-face {
   font-family: 'Helvetica-light';
   src: url('helvetica-light.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
 }
 @font-face {
   font-family: 'Lora-Italic';
   src: url('Lora-Italic.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
 }
 @font-face {
   font-family: 'Lora-Regular';
   src: url('Lora-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
 }
 .top_menu {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 100%;
   height: 60px;
   margin-bottom: 40px;
   background: #eee;
   border-bottom: 1px solid #ddd;
 }
 .top_menu a {
   margin: 0 20px;
 }
