// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


table {
  border-radius: 30px;
  margin: 3% 0%;
	width: 100%;
	border: 5px solid #ffd300;
	font-size: 18px;
	background: #fff;
}
table th {
	font-weight: bold;
	padding: 1%;
	border: none;
	text-align: left;
}
table td {
	padding: 3% 1%;
	border: none;
}
tr > td:nth-child(1){
  width: 20%;
}
tr > td:nth-child(3){
  width: 50%;
}
