// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1{
  font-family: Helios;
}
button{
 background-color: #ffd300;
 border: none;
 color: white;
}
table {
  margin-top: 5%;
  margin-left: 5%;
	width: 90%;
	margin-bottom: 5%;
	border-collapse: collapse;
	outline: 5px solid #ffd300;
	font-size: 18px;
	background: #fff;
}
table th {
	font-weight: bold;
	padding: 1%;
	border: none;
	text-align: left;
}
table td {
	padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 15px;
}
table tbody tr:nth-child(even){
	background: #f8f8f8!important;
}
