// Place all the styles related to the Promo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,select, input, textarea {
  font-family: Helios;
  color: #fff;
}
html{
  background: #021B67;
}
h3{
  position: absolute;
  background-color: white;
  color: #021B67;
  width: 30%;
}
.conteiner{
  margin: 3% 3%;

}
.img{
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.row1{
  background-image: url("row1.svg");
  width: 20%;
  padding-bottom: 30%;
  top: 100px;
  left: 1000px;
}
.row2{
    background-image: url("row2.svg");
    width: 50%;
    padding-bottom: 30%;
    top: 740px;
    left: 180px;
}
.row3{
    background-image: url("row3.png");
    width: 30%;
    padding-bottom: 30%;
    position: relative;
    top: 120px;
    left: -500px;
}
.compas{
      background-image: url("compas.svg");
      width: 16%;
      padding-bottom: 16%;
      top: 960px;
      left: 460px;
}
.volna1{
      background-image: url("volna1.svg");
      width: 20%;
      padding-bottom: 14%;
      top: 1100px;
      left: 60px;
}
.volna2{
      background-image: url("volna2.png");
      width: 25%;
      padding-bottom: 14%;
      top: 68px;
      left: 680px;
}
.location{
  background-image: url("location.svg");
  width: 5%;
  padding-bottom: 7%;
  top: 340px;
  left: 900px;
}
.phone1{
  padding-top: 20%;
  background-image: url("phone1.png");
  width: 50%;
  padding-bottom: 50%;
  top: 220px;
  left: 40px;
}
.phone2{
  padding-top: 20%;
  background-image: url("phone2.png");
  width: 50%;
  padding-bottom: 50%;
  top: 360px;
  left: 580px;
}
.title{
  background-image: url("fon1.svg");
  width: 100%;
  padding-bottom: 100%;

}
.text_title{
  position: absolute;
  top: 280px;
  left: 60px;
}
.logo_promo{
  background-image: url("logo_promo.svg");
  width: 74%;
  padding-bottom: 20%;
  top: 40px;
  left: 60px;
}
.text1{
  position: absolute;
  top: 380px;
  left: 60px;
}
.text2{
  position: absolute;
  top: 600px;
  left: 1000px;
  width: 200px;
}
.text3{
  position: absolute;
  top: 1200px;
  left: 400px;
  width: 400px;
}
.function{
  margin-top: 20px;
  position: relative;
  background-color: white;
  width: 110%;
  padding-bottom: 20%;
}
.text_function{
  z-index: 1;
  position: relative;
  color: #021B67;
  font-size: 48px;
  left: 60px;
  width: 100%;
  padding-top: 10%;
  // padding-bottom: 24%;
}
.cards{
  position: relative;
  display: flex;
}
.card_icon{
  border-radius: 30px;
  position: relative;
  background-color: #ffd300;
  background-image: url("forum_icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  width: 16%;
  padding-bottom: 16%;
  margin: 5%;
}

.c_i_text h3, .c_i_text p{
  color: #021B67;
  position: relative;
  margin-top: 25%;
}
.c_i_text{
  position: relative;
  width: 25%;
  height: 10%;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1038px;
  background-image: url("maps3.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.footer>h2 {
  position: relative;
  width: 50%;
  margin-left: 60px;
  height: 40px;
  left: 20px;
  top: 80px;

}
.new_subscriber {
  position: relative;
  top: -70px;
  left: 50%;
  width: 90%;
  height: fit-content;
}
.new_subscriber > input {
  margin: 1%;
  padding: 1.5%;
  text-align: center;
  border: 5px solid #ffd300;
}
.new_subscriber > input:nth-child(2) {
  width: 60%;
  border-width: 3px;
  border-radius: 10px;
  border-color: #ffd300;
}
.new_subscriber > input:nth-child(3) {
  width: 64%;
  background-color: #ffd300;
  border: none;
  border-radius: 10px;
}
button:hover{
  background-color: #021B67;
}
// tr:hover{
//   border: 5px solid #ffd300;
// }
button{
 background-color: #ffd300;
 border: none;
 border-radius: 10px;
 width: auto;
 padding: 1.5%;
 text-align: center;
}
.image_button {
  width: 30px;
}
button > a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.details {
  margin-left: 60px;
  margin-bottom: 60px;
  text-decoration: none;
}
.details>a {
  text-decoration: none;
}
.details:hover{
  color: #ffd300;
}
